


@media (min-width: 1200px) {
  .social-icons {
  }
}

@media (min-width: 992px) {
  .social-icons {
  }
}

@media (min-width: 1200px) {
  .social-icons {
  }
}

@media (min-width: 300px) {
  .social-icons {
  }
}

@media (min-width: 576px) {
  .social-icons {
  }
}

@media (min-width: 300px) {
  .container {
  }
}

@media (min-width: 300px) {
  .portfolio-block .heading h2 {
  }
}

.portfolio-block.block-intro p {
  letter-spacing: 2px;
  font-weight: 900;
}

.portfolio-block.block-intro p {
  letter-spacing: 1px;
  font-weight: 400;
}

@media (min-width: 300px) {
  .navbar-dark .navbar-brand, .navbar-dark .navbar-brand:focus, .navbar-dark .navbar-brand:hover, .navbar-dark .navbar-nav .nav-link {
  }
}
body{
  font-family: 'Gothic A1', sans-serif;
  background-color:rgb(21,21,21);
  color: rgba(255,255,255,1);
}

/* .light-mode{
  background-color: white;
  color: rgb(21,21,21);
  font-family: 'Raleway', sans-serif;
}

.dark-mode{
  background-color:rgb(21,21,21);
  color: rgba(255,255,255,var(--text-opacity));;
  font-family: 'Gothic A1', sans-serif;
} */

* {
  -webkit-tap-highlight-color: rgba(0,0,0,0); /* Stops flash on tap iOS */
}
#container {
  width: auto;
  height: 354px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  margin: auto;
}
.item {
  z-index: 100;
  padding: 5px;
}
.item img{
  width: 159px;
  border-radius: 110px;
  height: 161px;
}
.circle {
  border-radius: 50%;
  background-color: deepskyblue;
  width: 150px;
  height: 150px;
  position: absolute;
  margin-left: initial;
  opacity: 0;
  animation: scaleIn 4s infinite cubic-bezier(.36, .11, .89, .32);
}
@keyframes scaleIn {
  from {
      transform: scale(.5, .5);
      opacity: .5;
  }

  to {
      transform: scale(2.5, 2.5);
      opacity: 0;
  }
}
.portfolio-block {
  padding-bottom: 100px;
  padding-top: 0px;
}
.card-body{
  background-color: rgb(21,21,21);
}
.portfolio-block.projects-cards a{
  color: white;
}
.card-img-top
{
  height: 230px;
}
section{
  background-color: rgb(21,21,21);
}
.footer-heart{text-align:center;font-family: open sans, sans-serif;}

.footer-heart a{border-bottom: 1px solid #453886;color: #453886;padding-bottom: .25em; text-decoration: none;}

.footer-heart a:hover{color:#2196f3; background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23453886' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: bottom;
  background-repeat: repeat-x;
  background-size: 20%;
  border-bottom: 0;
  padding-bottom: .3em;
  text-decoration: none;}

.emoji{vertical-align: middle;}
.card-img-top{
  border-radius: 15px;
}